*{
  margin: 0;
}
.containerChosebox,.containerMain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  /* background-image: url("https://img.freepik.com/free-vector/beautiful-book-club-pattern-illustration_23-2149330102.jpg"); */
}
.Chosebox{
  width: 200px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}
.containerChosebox button{
    background-color: aliceblue;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

}
.containerMain{
  
  flex-wrap: wrap;
  height: 100%;
}
.oneBook{
  display: flex;
  flex-direction: column;
 
  
}
.oneBook button{
  width: 300px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
}
.oneBook button p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;


}
.oneBook button img{
  height: 300px;
}
.containerOfConatainer{
  background-color: black;
  /* background-image: url("https://img.freepik.com/free-vector/beautiful-book-club-pattern-illustration_23-2149330102.jpg"); */

}
a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  
}
a div{
  border: 2px solid black;
  display: inline;
  border-radius: 10px;
  font-size: 30px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}